<% include ../partials/header %>


<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpHood</h1>
        <p>View the hottest neighborhoods from all over the world!</p>
        <p>
            <a href="/neighborhoods/new" class="btn btn-primary">Add New Neighborhood</a>
        </p>
    </div>
</header>


<div class="row">
    <div class="col-lg-12">
        <h3>User Rated Top Neighborhoods</h3>
    </div>
</div>    

<div class="row text-center">
    <% neighborhoods.forEach(function(neighborhood){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src=" <%= neighborhood.image %> ">
                <div class="caption">
                    <h4><%= neighborhood.name %></h4>
                    <% if (neighborhood.rating === 0) { %>
                        <em>No reviews yet.</em>
                        <% } else { %>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (neighborhood.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (neighborhood.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (neighborhood.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (neighborhood.rating > 4.5) { %> checked <% } %>"></span>
                    <% } %>
                </div>
                <p>
                    <a href="/neighborhoods/<%= neighborhood._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
    <% }) %>
</div>



<% include ../partials/footer %>